.btn {
  @include prefix(transition, "background-color 100ms ease-out, color 100ms ease-out");
  @include font-size(100);
  display: inline-block;
  color: $color-foreground;
  background-color: $color-background;
  border: 1px solid $color-foreground;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;

  &:focus {
    outline:0;
  }

  &.highlight {
    color: $color-off-foreground;
    border-color: $color-off-foreground;
  }
}

.btn-state-up {
  @include prefix(transition-duration, 500ms);
}

.btn-state-down,
.btn-state-down.highlight {
  background-color: $color-off-foreground;
  border-color: $color-off-foreground;
  color: $color-background;
}
