.message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $white;
  text-align: center;

  &.ng-hide-remove {
    @include prefix(animation, fade-in 200ms ease-out);
  }

  &.ng-hide-add {
    @include prefix(animation, fade-out 200ms ease-out);
    display: block !important;
  }
}

.message-icon-wrap {
  position: absolute;
  left: 25%;
  top: 30px;
}

.message-icon {
  @include prefix(animation, pop 700ms linear infinite);
  color: $lightergrey;
  font-size: 300px;
  margin-left: -150px;
}

.message-body {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
}

.message-text,
.message-label,
.message-error {
  @include font-size(150);
  color: $color-foreground;
  margin: -1em auto 20px;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 540px;
  display: block;
  text-shadow:
    -1px -1px 0 $white,
    1px -1px 0 $white,
    -1px 1px 0 $white,
    1px 1px 0 $white;
}

.message-label {
  @include font-size(190);
}