.nav-wrap {
  @include prefix(transform, $unit-matrix);
  @include prefix(box-shadow, 0 10px 10px $white);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: font-size(100) + 35px;
  background: $white;
  z-index: 100;

  @media (max-height: 320px) {
    position: relative;
  }
}

.nav {
  @include font-size(100);
  font-family: $sansserif;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 15px;
  border-bottom: 1px solid $lightergrey;
  height: font-size(100) + 35px;
  box-sizing: border-box;
}

.nav-back {
  text-transform: uppercase;
}

.nav-next {
  float: right;
  margin-right: -10px;

  > a {
    > .btn,
    > .btn-icon {
      margin-top: -10px;
      text-transform: uppercase;
    }
  }
}
