.background-spinner-wrap {
  position: fixed;
  left: 25%;
  top: 30px;

  &.ng-hide-remove {
    @include prefix(animation, fade-in 500ms ease-out);
  }

  &.ng-hide-add {
    @include prefix(animation, fade-out 500ms ease-out);
    display: block !important;
  }
}

.background-spinner {
  @include prefix(animation, fa-spin 5s linear infinite);
  color: $lightergrey;
  font-size: 300px;
  margin-left: -50%;
}