<div class="text-input-wrap"
  rd-animate keyframes="text-input-blur, text-input-focus">

  <label for="{{input.name}}" ng-transclude
    ng-class="{'text-input-label':true, 'has-value':input.value}"></label>
  <input type="{{input.type}}"
    id="{{input.name}}"
    name="{{input.name}}"
    value="{{input.value}}"
    ng-class="{
      'text-input': true,
      'has-icon': input.icon,
      'has-clear-icon': input.clearIcon}"
    ng-required="{{input.required}}"
    placeholder="{{input.placeholder}}"
    autocomplete="{{input.autocomplete}}" />

  <a ng-if="input.clearIcon"
    ng-class="{
      'text-input-clear': true,
      'has-icon': input.icon,
      'has-value': input.value}">
    <span class="fa fa-{{input.clearIcon}}"></span>
  </a>

  <rd-button ng-if="input.icon" class="text-input-icon">
    <span class="fa fa-{{input.icon}}"></span>
  </rd-button>
</div>
