.text-input-wrap {
  @include prefix(transition, border-color 500ms ease-out);
  @include font-size(100);
  font-family: $sansserif;
  position: relative;
  background: $color-background;
  border: 1px solid $color-foreground;
  border-radius: 5px;
  width: 100%;
  max-width: 540px;
  margin: font-size(100) + 11px auto 1px auto;
  padding: 0;
}

.text-input-label {
  @include prefix(transition, "background-color 300ms ease-out, color 300ms ease-out, margin-top 300ms ease-out, border-radius 300ms ease-out");
  position: absolute;
  left: 15px;
  top: 5px;
  color: $lightgrey;
  margin: 0 -13px;
  padding: 5px 13px;
  border-radius: 5px;

  &.has-value {
    background-color: $color-foreground;
    color: $color-background;
    margin-top: -18px - font-size(100);
    border-radius: 5px 5px 0 0;
  }
}

.text-input {
  @include font-size(100);
  background: transparent;
  color: $color-foreground;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 0;

  &.has-icon {
    box-sizing: border-box;
    padding-right: font-size(100) + 45px;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.text-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 15px;
  margin: 0;
  border-width: 0;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid $color-foreground;
}

.text-input-blur {
  @include prefix(transition-duration, 500ms);
}

.text-input-focus {
  background-color: $white;
  border-color: $color-off-foreground;
  border-width: 2px;
  margin-top: font-size(100) + 10px;
  margin-bottom: 0;

  > .text-input-label {
    background-color: $color-off-foreground;
    color: $color-background;
    margin-top: -18px - font-size(100);
    border-radius: 5px 5px 0 0;
  }
}
