$color-foreground: #2c3e50;
$color-off-foreground: #2980b9;
$color-light-foreground: #3498db;
$color-background: #ecf0f1;
$color-alert: #e74c3c;

$grey: #333;
$offgrey: #444;
$lightgrey: #aaa;
$lightergrey: #ccc;

$white: #f2f2f2;
$offwhite: #e2e2e2;

$fa-font-path: "./fonts";
$fa-font-size-base: 16px;
@import "../bower_components/fontawesome/scss/font-awesome";

$serif: Times New Roman, Times, Serif;
$sansserif: Lucida Grande, Helvetica, Arial, Sans-Serif;

@mixin font-size($percent) {
  font-size: $percent * 0.16px;
}

@function font-size($percent) {
  @return $percent * 0.16px;
}

$prefixes: webkit moz ms o;

@mixin prefix($property, $value) {
  #{$property}: $value;
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
}

@mixin transition-prefix($value) {
  transition: $value;
  @each $prefix in $prefixes {
    -#{$prefix}-transition: -#{$prefix}-#{$value};
  }
}

@mixin keyframes-prefix($name) {
  @-webkit-keyframes #{$name} {
    $prefix: '-webkit-'; @content;
  }
  @-moz-keyframes #{$name} {
    $prefix: '-moz-'; @content;
  }
  @-o-keyframes #{$name} {
    $prefix: '-o-'; @content;
  }
  @keyframes #{$name} {
    $prefix: ''; @content;
  }
}

@include keyframes-prefix(fade-in) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes-prefix(fade-out) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

header, footer, article, hgroup, section, menu, nav, figure, figcaption, aside, details, output {
  display: block;
}

input, textarea, select, button {
  font-family: $sansserif;
}

body {
  @include prefix(touch-callout, none);
  @include prefix(user-select, text);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100%;
  background: $white;
  font-family: $serif;
}

input {
  -webkit-tap-highlight-color: rgba(242,242,242,0.1);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link,
a:active,
a:visited {
  color: inherit;
}

.page {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  &.ng-enter {
    @include prefix(animation, fade-in 300ms ease-out);
  }

  &.ng-leave {
    @include prefix(animation, fade-out 300ms ease-out);
  }
}

@import "core/core.module";
@import "subscribe/subscribe.module";