.episode {
  @include prefix(transition, "background-color 100ms ease-out, color 100ms ease-out");
  position: relative;
  font-family: $sansserif;
  color: $color-foreground;
  background: $white;
  overflow: visible;
  margin-bottom: 1px;

  &.ng-enter {
    @include prefix(animation, fade-in 300ms ease-in-out);
  }

  &.ng-leave {
    @include prefix(animation, fade-out 300ms ease-out 1ms);
  }

  &:nth-child(odd) {
    background: $color-background;
  }

  &.episode-state-up {
    @include prefix(transition-duration, 500ms);
  }

  &.episode-state-down {
    background-color: $color-off-foreground;
    color: $color-background;

    .episode-date {
      color: $offwhite;
    }
  }
}

.episode-play {
  text-decoration: none;
  background-color: inherit;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.episode-thumbnail {
  float: left;
  height: 80px;
  width: 80px;
}

.episode-details {
  height: 80px;
}

.episode-title,
.episode-date {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 15px;
}

.episode-title {
  @include font-size(100);
  padding-top: (75px - font-size(190)) / 2;
}

.episode-date {
  @include font-size(90);
  padding-top: 5px;
  color: $lightgrey;
}

.episode-hidden {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  height: 80px;
  padding: 0 8px;
  box-sizing: border-box;

  > .btn-icon {
    margin: 21px 8px;
    display: block;
    float: right;
  }
}

.episode-delete {
  background-color: $color-alert;
  border-color: $color-background;
  color: $color-background;
}

@include keyframes-prefix(music-in) {
  0% { opacity: 0;  @include prefix(transform, scale3d(0, 0, 1)); }
  75% { opacity: 1; @include prefix(transform, scale3d(1.2, 1.2, 1)); }
  100% { opacity: 1; @include prefix(transform, scale3d(1, 1, 1)); }
}

@include keyframes-prefix(music-out) {
  0% { opacity: 1; @include prefix(transform, scale3d(1, 1, 1)); }
  100% { opacity: 0; @include prefix(transform, scale3d(0, 0, 1)); }
}

.episode-playing {
  position: absolute;
  right: 0;
  top: -18px;
  color: rgba($lightergrey, 0.8);
  font-size: 100px;
  margin-right: 10px;
  z-index: -1;

  &.ng-hide-remove {
    @include prefix(animation, music-in 300ms ease-out);
  }

  &.ng-hide-add {
    @include prefix(animation, music-out 300ms ease-out);
    display: block !important;
  }
}
