.playback-wrap {
  @include prefix(transform, $unit-matrix);
  background: $white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@include keyframes-prefix(playback-slide-in) {
  0% { max-height: 0; opacity: 0; }
  100% { max-height: 96px; opacity: 1; }
}

@include keyframes-prefix(playback-slide-out) {
  0% { max-height: 96px; opacity: 1; }
  100% { max-height: 0; opacity: 0; }
}

.playback {
  font-family: $sansserif;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px 10px;
  border-top: 1px solid $lightergrey;
  min-height: font-size(345) + 41px;
  box-sizing: border-box;
  position: relative;

  &.ng-enter {
    @include prefix(animation, playback-slide-in 300ms ease-out);
  }

  &.ng-leave {
    @include prefix(animation, playback-slide-out 500ms ease-out 1ms);
  }
}

.playback-info {
  position: absolute;
  right: -10px;
  top:  -21px - font-size(50);
  border-color: $lightergrey;

  &.btn-icon-state-down {
    border-color: $color-off-foreground;
  }
}

.playback-info-anchor,
.playback-content {

  &.ng-hide-remove {
    @include prefix(animation, fade-in 300ms ease-out);
  }

  &.ng-hide-add {
    @include prefix(animation, fade-out 300ms ease-out);
    display: block !important;
  }
}

.playback-content {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
}

.playback-controls {
  margin: 10px 0;
  text-align: center;
}

.playback-rewind,
.playback-play,
.playback-stop,
.playback-pause,
.playback-forward {
  @include font-size(150);
  color: $color-foreground;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;

  &.medium {
    @include font-size(250);
  }

  &.large {
    @include font-size(345);
  }
}

.playback-play,
.playback-pause {
  color: $color-off-foreground;
}

.playback-track,
.playback-title {
  @include font-size(90);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.playback-title {
  padding-top: 3px;
}
