<div class="feed">
  <div class="feed-inner" ng-if="feed.data && feed.info">
    <img class="feed-image" ng-src="{{feed.info.artworkUrl600}}"></img>
    <div class="feed-info">
      <span class="feed-track">{{feed.info.trackName}}</span>
      <span class="feed-artist">{{feed.info.artistName}}</span>
      <rd-anchor class="feed-link" href="{{feed.data.link}}">{{feed.data.link}}</rd-anchor>
    </div>

    <div class="feed-description">
      {{feed.data.description}}
    </div>

    <rd-button class="feed-subscribe" highlight="!feed.subscribed">
      <span ng-if="!feed.subscribed">Subscribe</span>
      <span ng-if="feed.subscribed">Unsubscribe</span>
    </rd-button>

    <ul class="episodes">
      <rd-add-feed-entry ng-repeat="episode in feed.data.entries track by episode.link"
        episode="episode"></rd-add-feed-entry>
    </ul>
  </div>
</div>
