.subscription-item {
  @include prefix(transition, "background-color 100ms ease-out, color 100ms ease-out");
  font-family: $sansserif;
  color: $color-foreground;
  overflow: hidden;
  margin-bottom: 1px;
  position: relative;

  &.ng-enter {
    @include prefix(animation, fade-in 300ms ease-in-out);
  }

  &.ng-leave {
    @include prefix(animation, fade-out 300ms ease-out 1ms);
  }

  &:nth-child(odd) {
    background: $color-background;
  }

  &.subscription-item-state-up {
    @include prefix(transition-duration, 500ms);
  }

  &.subscription-item-state-down {
    background-color: $color-off-foreground;
    color: $color-background;

    .subscription-item-artist {
      color: $offwhite;
    }
  }
}

.subscription-item-anchor {
  text-decoration: none;
  background-color: inherit;
  position: relative;
  display: block;
}

.subscription-item-thumbnail {
  float: left;
  height: 80px;
  width: 80px;
}

.subscription-item-details {
  height: 80px;
}

.subscription-item-track,
.subscription-item-artist {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 15px;
}

.subscription-item-track {
  @include font-size(100);
  padding-top: (75px - font-size(190)) / 2;
}

.subscription-item-artist {
  @include font-size(90);
  padding-top: 5px;
  color: $lightgrey;
}

.subscription-hidden {
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;

  > .btn-icon {
    margin-top: 21px;
  }
}
